<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Strona nie istnieje</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="error-header">
        Strona nie istnieje
    </div>
    <i class="fa-regular fa-face-frown"></i>
    <p class="error-message">Strona, która próbujesz odwiedzieć nie została odnaleziona.</p>
</main>
</body>
</html>