<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PhotoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/scripts.js" th:src="@{/scripts/scripts.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>

<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/home-page}">
                <i id="icon" class="fa-solid fa-camera" ></i>PhotoApp
            </a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
        </li>
    </ul>
    <header class="jumbotron-home-page">
        <h1 class="jumbotron-header">PhotoApp</h1>
    </header>
    <main class="main-content">
        <div class="user-menu">
            <h2>Menu użytkownika</h2>
            <a href="#" th:href="@{/home-page}">Kalendarz</a>
            <a href="#" th:href="@{/payments}">Rozliczenia</a>
            <a href="#" th:href="@{/sessions}">Sesje</a>
            <a href="#" id="clients-toggle">Klienci</a>
            <div id="clients-sub-menu" class="sub-menu hidden">
                <a class="toggle-menu" href="#" th:href="@{/client/all}">
                    <i class="fa-solid fa-arrow-right"></i>Wszyscy klienci
                </a><br>
                <a class="toggle-menu" href="#" th:href="@{/client/current}">
                    <i class="fa-solid fa-arrow-right"></i>Aktualni klienci
                </a>
            </div>
        </div>
        <h2 class="list-heading" th:text="${heading}">Wszyscy klienci</h2>
        <ul class="client-list" th:remove="all-but-first">
            <li class="client-list-item" th:each="client: ${clients}">
                <a href="#" th:href="@{|client/${client.id}|}"></a>
                <div class="client-list-item-card">
                    <div class="client-list-item-content">
                        <h3 class="client-list-item-title">
                            <a href="#" th:href="@{|client/${client.id}|}" th:text="|Nazwisko: ${client.lastName}|">Nazwisko klienta</a>
                        </h3>
                        <h3 th:text="|Imię: ${client.firstName}|">Imię kilenta</h3>
                        <h3 th:text="|Numer telefonu: ${client.phoneNumber}|">numer telefonu</h3>
                        <h3 th:text="|Email: ${client.email}|">email</h3>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>
